.room-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-video,
.partner-video {
  width: 500px;
  height: 500px;
  margin-bottom: 10px;
}

.share-screen-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-room-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-room-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
